---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import FormattedDate from '../../components/FormattedDate.astro';
import { fetchBlogPosts } from '../../services/fetch';

const posts = await fetchBlogPosts();

console.log(posts)

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-black text-white">
		<Header />
    <main class="w-3/6 mx-auto">
			<section>
				<ul>
					{
						posts.map((post: any) => (
							<li>
            <a href={`/blog/${post.slug}`} class="block hover:shadow-lg transition-shadow duration-300 rounded-lg overflow-hidden p-4 border border-gray-200">
									<h4 class="title text-rose-400">{post.title}</h4>
									<p class="date">
										<FormattedDate date={post.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
